/*Home Page CSS*/

body {
  background-color: rgb(237, 223, 187);
}

/*Navigation*/

#navigation-labels {
  background: rgb(176, 143, 129);
  color: black;
  font-size: 30px;
  text-align: center;
}

#navigation-labels ul li {
  display: inline-block;
  list-style-type: none;
  margin: 10px;
}

#navigation-labels ul li:hover {
  background-color: white;
  color: black;
}

a {
  text-decoration: none;
}

a:link,
a:visited {
  color: black;

  .button-74 a {
    color: #422800 !important;
    text-decoration: none !important;
  }

  .button-74 a:visited {
    color: #422800 !important;
  }

  .button-74 a:hover {
    color: #422800 !important;
  }
}

/* Audio menu  */

.audio-menu {
  background: rgb(133, 180, 180);
  padding: 30px;
  margin-left: auto;
  margin-right: auto;
  height: 40vh;
  text-align: center;
  border: 2px solid black;
  width: 40%;
}

#audio-menu-header {
  font-size: 40px;
  color: aliceblue;
}

#audio-menu-instructions-style {
  color: white;
  text-align: left;
}

#instructions {
  padding: 0px;
}

/*Button 74 from website*/

.button-style {
  padding: 30px;
}

.buttons-container {
  display: flex;
  justify-content: center;
}

.button-74 {
  align-items: center;

  background-color: #fbeee0;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 20px;
}

.button-74:hover {
  background-color: #fff;
}

.button-74:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-74 {
    min-width: 120px;
    padding: 0 25px;
  }
}

.quote-container {
  padding: 30px;
  border: 2px black solid;
  text-align: center;
  background-color: silver;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
}
