/*Stocks Page CSS*/

body {
  background-color: rgb(237, 223, 187);
}

#navigation-labels {
  background: rgb(176, 143, 129);
  color: black;
  font-size: 30px;
  text-align: center;
}

#navigation-labels ul li {
  display: inline-block;
  list-style-type: none;
  margin: 10px;
}

#navigation-labels ul li:hover {
  background-color: white;
  color: black;
}

a {
  text-decoration: none;
}

a:visited {
  color: black;
}

/* Audio menu */

.audio-menu {
  background: rgb(133, 180, 180);
  padding: 30px;
  margin-left: auto;
  margin-right: auto;
  height: 40vh;
  text-align: center;
  border: 2px solid black;
  width: 40%;
}

#audio-menu-header {
  font-size: 40px;
  color: aliceblue;
}

#audio-menu-instructions-style {
  color: white;
  text-align: left;
}

#instructions {
  padding: 0px;
}

.button-style {
  padding: 30px;
}

/* Custom button */

.button-3 {
  appearance: none;
  background-color: #2ea44f;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, 0.1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, 'Segoe UI', Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  margin-top: 25px;
}

.button-3:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

.button-3:hover {
  background-color: #2c974b;
}

.button-3:focus {
  box-shadow: rgba(46, 164, 79, 0.4) 0 0 0 3px;
  outline: none;
}

.button-3:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, 0.1);
  color: rgba(255, 255, 255, 0.8);
  cursor: default;
}

.button-3:active {
  background-color: #298e46;
  box-shadow: rgba(20, 70, 32, 0.2) 0 1px 0 inset;
}

/* 
   Top 5 Stocks Table CSS
 */

#topStocksTable {
  width: 70%;
  margin: 20px auto;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  background-color: white;
}

#topStocksTable th {
  background-color: #f2f2f2;
  padding: 12px;
  border: 2px solid #000;
  font-size: 18px;
  text-align: center;
}

#topStocksTable td {
  padding: 20px;
  border: 2px solid #000;
  text-align: center;
  font-size: 17px;
}

#topStocksTable a {
  color: #0041c4;
  font-weight: bold;
  text-decoration: none;
}

#topStocksTable a:hover {
  text-decoration: underline;
}

.sentiment-icon {
  width: 60px;
  height: auto;
  display: block;
  margin: 0 auto;
}
